/* Reset */
/* ------------------------ */
* {
	margin: 0;
	padding: 0;	
}

ul,
ol {
	list-style: none;
}

p {
	line-height: 1.5;
	margin-bottom: 20px;
}

/* Layout */
/* ------------------------ */
header {
	background: indigo;
	color: white;
	font-family: "Papyrus";
}

body {
	background: lavender;
}

section {
	color: indigo;
	margin-left: 30px;
	margin-right: 30px;
	font-family: "Arial";
}

footer {

}

header,
section,
footer {
	padding-top: 20px;
	padding-bottom: 20px;
}



/* Headings */
/* ------------------------ */
h1 {
	text-align: center;
	text-transform: uppercase;
}


/* Navigation Lists */
/* ------------------------ */

nav ul {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

nav li {
	display: inline;
}

/* Links */
/* ------------------------ */

header a {
	color: coral;
}

/* About Me page */
/* ------------------------ */
section img {
	width: 200px;
	border-radius: 2000px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 5px;
}

h2 {
	margin-left: 50px
}

footer img {
	width: 40px;
	height: 40px;
	float: center;
	margin-right: 3px;
	margin-left: 3px;

}

/* Resume page */
/* ------------------------ */

section ul li {
	line-height: 1.5;
}

em {
	font-size: 12px;
}