
body {
	background: #FFF0F5;
}


h1 {
	background: mediumpurple;
	text-align: center;
	padding: 10px;
	height: 60px;
}

.todo {

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}

.form {

	background: thistle;
	border: 1px solid gray;
	width: 600px; 
	padding: 20px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0 5px 5px -3px black;
}

.task,
.date {
	height: 30px;
	width: 200px;
	border: 1px solid gray;
	padding: 5px;
	font-size: 12px;
	margin-right: 8px;
	margin-left: 8px;
}

button {
	margin-left: 10px;
	height: 30px;
	width: 45px;
	background: slategray;
	color: white;
	font-weight: bold;
	font-size: 12px;
}

.entries {
 	margin-left: 40px;
	margin-top: 10px;
}











